[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
numpy = "*"
pandas = "*"
jsonify = "*"
"html5lib" = "*"
scikit-learn = "*"
flask-socketio = "*"
gspread = "*"

[dev-packages]

[requires]
python_version = "3.6"
