[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
lxml = {path = "C:/Users/pathz/Downloads/lxml-4.2.3-cp37-cp37m-win32.whl"}
numpy = "*"
pandas = "*"
jsonify = "*"
"html5lib" = "*"
scikit-learn = "*"
gspread = "*"
setuptools = "*"
"bs4" = "*"
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
netifaces = {path = "C:/Users/pathz/Downloads/netifaces-0.10.7-cp37-cp37m-win32.whl"}
protobuf = "*"
"psycopg2" = "*"
python-dateutil = "*"
python-engineio = "*"
python-socketio = "*"
pytz = "*"
six = "*"
"urllib3" = "*"
webencodings = "*"
zeroconf = "*"
Flask-SocketIO = "*"
PyChromecast = "*"
Flask-SQLAlchemy = "*"
gTTS-token = "*"
"Jinja2" = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
Flask = "*"
gTTS = "*"
"Flask-Psycopg2" = "*"
flask-gtts = "*"

[dev-packages]

[requires]
python_version = "3.7"
