{% set footerbtn = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Button</button>' -%}

{% macro modalOpenBtn(idnum = 0, idprefix = '') -%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ idprefix }}modal_{{ idnum }}">modal</button>
{% endmacro -%}

{% macro modal(modalbody = '', modaltitle = 'modal', idprefix = '', idnum = 0, modalfooter = footerbtn) %}
<div class="modal fade" id="{{ idprefix }}modal_{{ idnum }}" tabindex="-1" role="dialog" aria-labelledby="{{ idprefix }}modal_{{ idnum }}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ idprefix }}modal_{{ idnum }}Label">{{ modaltitle }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{- modalbody -}}
      </div>
      <div class="modal-footer">
        {{- modalfooter -}}
      </div>
    </div>
  </div>
</div>
{%- endmacro -%}
